<div class="row">
  <div class="col s6">
    <button mat-raised-button (click)="export()" color="primary">Export Data</button>
  </div>
  <div class="col s6" style="text-align: right;">
    <button mat-raised-button (click)="refresh()" color="warn">Refresh</button>
  </div>
</div>

<h2>Date wise Statistics: </h2>

<div class="row">
  <div class="col s6 m3 l2" style="margin-bottom: 5px;" *ngFor="let item of statistics;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{item?.date | date}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>
          {{item?.mobile__count}}
        </h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div style="padding: 20px;">

  <h3>All Visitors Data: </h3>

  <div class="example-header">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="10px" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell fxFlex="10px" *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
      </ng-container>

      <!-- gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
      </ng-container>

      <!-- mobile Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <!-- country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
      </ng-container>

      <!-- education_affiliation Column -->
      <ng-container matColumnDef="education_affiliation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Education Affiliation </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.education_affiliation}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator #userStatistics [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>


<br>
<hr>
<br>


<h2>Age wise Statistics: </h2>

<div class="row">
  <div class="col s6 m3 l2" style="margin-bottom: 5px;" *ngFor="let item of ageStatistics;">
    <mat-card style="cursor: pointer;" (click)="showCityStatistics(item.age_group)">
      <mat-card-header>
        <mat-card-title>{{item?.age_group}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>
          {{item?.count}}
        </h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div style="padding: 20px;">

  <h3 *ngIf="filter">Filtered by {{filter}}</h3>
  <p *ngIf="filter">Display Number of center data which is from <i> <b>{{filter}}</b> </i> </p>

  <div class="example-header">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyCityFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="citySource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="10px" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell fxFlex="10px" *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
      </ng-container>

      <!-- count Column -->
      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Count </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.count}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="cityStatisticsColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: cityStatisticsColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator #cityStatistics [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>