/* Structure */
table {
    width: 100%;
}

.mat-column-id, .mat-column-age {
    flex: 0 0 25% !important;
    max-width: 50px !important;
}

.mat-column-mobile {
    flex: 0 0 25% !important;
    max-width: 100px !important;
}

.mat-column-email {
    flex: 0 0 25% !important;
    max-width: 250px !important;
}

.mat-column-name {
    flex: 0 0 25% !important;
    max-width: 180px !important;
}

.mat-column-country {
    flex: 0 0 25% !important;
    max-width: 150px !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    text-align: left;
}

/* .mat-table {
    overflow: auto;
} */

.mat-row,
.mat-header-row {
  min-width: 1123px;
  width: 100%;
  width: max-content;
}

.mat-table {
  overflow: auto;
  /* max-height: 500px; */
}

.mat-cell,
.mat-header-cell {
  min-width: 90px;
}