<h2>Date wise Statistics: </h2>

<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile *ngFor="let item of statistics;">
    <mat-card style="">
      <mat-card-header>
        <mat-card-title>{{item?.date | date}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>
          {{item?.mobile__count}}
        </h2>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- <h2>Detailed Statistics</h2> -->

<div style="padding: 20px;">
  <button mat-raised-button (click)="export()" color="primary">Export Data</button>
  <button mat-raised-button (click)="refresh()" color="warn">Refresh</button>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="10px" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell fxFlex="10px" *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
      </ng-container>

      <!-- mobile Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <!-- country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
      </ng-container>

      <!-- education_affiliation Column -->
      <ng-container matColumnDef="education_affiliation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Education Affiliation </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.education_affiliation}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>